<ion-header>
  <ion-toolbar>
    <ion-title>iBiblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--No consigo poner bien la estructura y creo que es por los button-->
  <button ion-item *ngFor="let resul of libro">
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="https://covers.openlibrary.org/b/isbn/{{resul.isbn[2]}}-M.jpg">
      </ion-thumbnail>
      <ion-label>
        <ion-text><strong>{{resul.title}}</strong></ion-text><br>
        <ion-text><p>Autor:{{resul.author_name}}</p></ion-text><br>
        <ion-text><p>Año:{{resul.first_publish_year}}</p></ion-text>
      </ion-label>
      <ion-icon item-end name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </button>

</ion-content>


