<ion-header>
  <ion-toolbar>
    <ion-title>Curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item>
      <ion-label>
        <strong>2015 - Actualidad:</strong>
        <p>Dibujos por encargos de forma Freelance</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>2016 - 2018:</strong>
        <p>Departamento Com&ing encargada del diseño</p>
        <p>Ikea.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>2013 - 2016:</strong>
        <p>Auxiliar veterinaria en clínica Canitas</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
