<ion-header>
  <ion-toolbar>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin: 10%;" >
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        Aplicación desarrollada por Cristina Blanco Martín.
      A continuación puede consultar más información sobre el autor</ion-text>
    </ion-card-content>
    <ion-button expand="block" color="white" style="color: black; text-transform: none;" fill="clear">
      <ion-icon slot="start" name="book-outline"></ion-icon>
      Currículum Vítae
    </ion-button>
    <ion-button expand="block" color="white" style="color: black; text-transform: none;" fill="clear" href="https://twitter.com/home">
      <ion-icon slot="start" name="mail"></ion-icon>
      Correo: cris96@gmail.com
    </ion-button>
    <ion-button expand="block" color="white" style="color: black; text-transform: none;" fill="clear">
      <ion-icon slot="start" name="logo-twitter"></ion-icon>
      Twitter: @Crisb
    </ion-button>
    <ion-button expand="block" color="white" style="color: black; text-transform: none;" fill="clear">
      <ion-icon slot="start" name="call"></ion-icon>
      Teléfono: 609090909
    </ion-button>
  </ion-card>

</ion-content>
