<ion-header>
  <ion-toolbar>
    <ion-title><a routerLink="/biblioteca">
      <ion-icon name="caret-back-outline"></ion-icon> {{libro.title}}</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
        <img src="" alt="">
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-text color="dark">
              <p><b>Autor:</b></p>
          </ion-text>
          <ion-text color="dark">
              <p><b>Año:</b></p>
          </ion-text>
          <ion-text color="dark">
              <p><b>ISBN:</b></p>
          </ion-text>
          <ion-text color="dark">
              <p><b>Editorial:</b></p>
          </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
