<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a iBiblioteca!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar 
        una biblioteca de un centro educativo.</ion-text><br>
      <ion-text color="dark">  
        Para acceder a la biblioteca pulsa en el siguiente botón:
      </ion-text>
    </ion-card-content>
    <ion-button expand="block" color="white"  fill="clear" routerLink='/biblioteca'>
      <ion-icon slot="start" name="school"></ion-icon>
      Acceso a iBiblioteca
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Información sobre el autor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        Aplicación desarrollada por Cristina Blanco Martín.</ion-text>
    </ion-card-content>
    <ion-button expand="block" color="white"  fill="clear" routerLink='/autor'>
      <ion-icon slot="start" name="person"></ion-icon>
      Consultar información
    </ion-button>
  </ion-card>

</ion-content>
